@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigator MapboxGL */
.mapboxgl-ctrl-top-right {
  right: 1vh !important;
  top: 64.5vh !important;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  display: none !important;
}

.my-location-button .mapboxgl-ctrl-icon {
  background-image: url("../src/images/my-location.png") !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  display: block !important;
  background-size: cover !important;
  width: 65% !important;
  height: 65% !important;
}

.mapboxgl-ctrl-group button {
  background-color: white !important;
  width: 27px !important;
  height: 27px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.my-location-button {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none !important;
}

/* Progres Bar Card Info Detail */

.slider {
  -webkit-appearance: none;
  width: calc(100% - 3rem);
  height: 15px;
  border-radius: 5px;
  background: transparent;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.slick-dots {
  bottom: 0px !important;
}

.slick-dots li {
  margin: 0 -5px !important;
}

.slick-slider:not(:hover) .slick-dots {
  opacity: inherit !important;
}

.slick-dots li.slick-active button:before {
  opacity: unset !important;
  color: white;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

#InputanSearch::placeholder {
  color: rgb(156 163 175);
}

/* uji */
/* .slick-dots li button:before {
  color: red;
} */

.bg-aktif-menu {
  @apply bg-slate-200 rounded-lg;
}

.btn_search_color {
  @apply text-slate-200;
}

.hover_btn_search {
  @apply hover:bg-blue-600;
}

.active_btn_search {
  @apply bg-blue-500;
}
